# Compiled Object files
*.slo
*.lo
*.o
*.obj

# moc-files
moc_*.cpp


# ui-h-files
ui_*.h

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# the doxygen result
doxydoc
example
test_svn_externals_disposer
Makefile
svn_externals_disposer
